 body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            display: flex;
            height: 100vh;
        }
        .menu-container {
            width: 250px; /* Lebar menu */
            background-color: #4CAF50; /* Warna hijau */
            padding: 10px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            overflow-y: auto; /* Enable vertical scrolling */
            margin-right: 20px; /* Jarak antara menu dan konten */
        }
        .accordion {
            background-color: #4CAF50; /* Warna hijau */
            color: white;
            cursor: pointer;
            padding: 15px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 16px;
            transition: background-color 0.3s ease;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        .accordion:hover {
            background-color: #45a049;
        }
        .active {
            background-color: white; /* Warna putih saat aktif */
            color: #4CAF50; /* Warna teks hijau */
        }


        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .loading {
            display: none; /* Sembunyikan loading secara default */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            color: #4CAF50;
        }
        .spinner {
            border: 8px solid #f3f3f3; /* Light grey */
            border-top: 8px solid #4CAF50; /* Green */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }
        

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        .error {
            color: red;
            margin-top: 10px;
        }
        .logo-container {
            text-align: center;
            margin-bottom: 20px; /* Jarak antara logo dan menu */
        }
        .logo-container img {
            max-width: 100px; /* Sesuaikan ukuran logo */
            height: auto;
        }